[class*="col-"] {
  width: 100%;
  float: left;
  padding: 15px;
}

@media only screen and (min-width: 1000px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 45%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
}
* {
  box-sizing: border-box;
  margin: 0;
}
#body{
  background-image: url(board.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

}
h2{
  font-size: 35px;
}
#post1{
  position: relative;
  background-color: white;
  transform: rotate(30deg);
  left: 100px;
  top: 50px;
  height: 300px;
  width: 300px;
  border: .5px solid black;
  font-family: 'Liu Jian Mao Cao', cursive;
}
#post4{
  position: relative;
  background-color: white;
  transform: rotate(30deg);
  left: 100px;
  top: 50px;
  height: 300px;
  width: 300px;
    border: .5px solid black;
    font-family: 'Liu Jian Mao Cao', cursive;
}
#post2{
  position: relative;
  background-color: white;
 transform: rotate(10deg);
  left: 100px;
  top: 50px;
  height: 300px;
  width: 300px;
  border: .5px solid black;
  font-family: 'Indie Flower', cursive;
}
#post5{
  position: relative;
  background-color: white;
 transform: rotate(10deg);
  left: 100px;
  top: 50px;
  height: 300px;
  width: 300px;
    border: .5px solid black;
    font-family: 'Indie Flower', cursive;
}
#post3{
  position: relative;
  background-color: white;
   transform: rotate(320deg);
  left: 100px;
  top: 50px;
  height: 300px;
  width: 300px;
  border: .5px solid black;
  font-family: 'Shadows Into Light', cursive;
}
#post8{
  position: relative;
  background-color: white;
   transform: rotate(10deg);
  left: 100px;
  top: 50px;
  height: 350px;
  width: 300px;
    border: .5px solid black;
     font-family: 'Shadows Into Light', cursive;
}
#post7{
  position: relative;
  background-color: white;
   transform: rotate(28deg);
  left: 100px;
  top: 50px;
  height: 350px;
  width: 300px;
  border: .5px solid black;
  font-family: 'Shadows Into Light', cursive;
}
#post6{
  position: relative;
  background-color: white;
  
  left: 100px;
  top: 50px;
  height: 300px;
  width: 300px;
    border: .5px solid black;
    font-family: 'Exo', sans-serif;
}
img{
  position: relative;
  width: 60%;
}
.wagon{

  width: 100%;
}

